<ul class="sidebar-nav">
    <li class="sidebar-brand">
        <a href="#"></a>
    </li>
    <li>
        <a href="/#/">
            <i class="fa fa-dashboard fa-2x"></i>
            Dashboard
        </a>
    </li>
    <li>
        <a href="/#/projects" class="active">
            <i class="fa fa-suitcase fa-2x"></i>
            Projects
        </a>
    </li>
    <li>
        <a href="/#/about">
            <i class="fa fa-file-text fa-2x"></i>
            About
        </a>
    </li>
    <li>
        <a href="/#/contacts">
            <i class="fa fa-phone-square fa-2x"></i>
            Contacts
        </a>
    </li>
    <li>
        <a href="/#/inbox">
            <i class="fa fa-envelope fa-2x"></i>
            Inbox
        </a>
    </li>
</ul>